body, html {
  height: 90%;
  font:normal normal 90%/1.2 tahoma, verdana, humanist san-serif;
}

html{
    min-height: 100%;
}


.topBar{
  position:relative;
  background-color:pink;
  opacity:0.4;
  height:45px;
  text-align:left;
   vertical-align: middle;
/*    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
*/}

h1#area0{
  margin:0;
  color:white;
  height:45px;
  text-align:center;
  font-size:36px;
}


div#content {
    position:relative;
    float: right;
    height: calc(100% - 75px);
    overflow:hidden;
}



nav.sidebar {
    float: left;
    width: 390px;
    padding:20px;
/*    margin-right: -440px;
*/    background-color: rgba(228,228,228,0.5);  
    height:100%;

}

#katasHolder{
  color:#fff;
  background-color:black;
}

path {
  stroke:grey;
  stroke-width: 1px;
  fill:#ddd;
  stroke: #999;
  stroke-linejoin: round;
}

.q0-9 {fill:#990000;stroke:#990000;}
.q1-9 {fill:#d7301f;stroke:#d7301f;}
.q2-9 {fill:#ef6548;stroke:#ef6548;}
.q3-9 {fill:#fc8d59;stroke:#fc8d59;}
.q4-9 {fill:#fdbb84;stroke:#fdbb84;}
.q5-9 {fill:#fdd49e;stroke:#fdd49e;}
.q6-9 {fill:#fee8c8;stroke:#fee8c8;}
.q7-9 {fill:#fff7ec;stroke:#fff7ec;}
.q8-9 {fill:#ddd;stroke:#ddd;}


