.subunit-boundary {
  fill: none;
  stroke: #555;
  stroke-dasharray: 4;
  stroke-linejoin: round;
}

.subunit-boundary2 {
  fill: none;
  stroke-width:1;
  stroke:#444;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*black to red*/
.q0-9 { fill:rgb(0,0,0) ; }
.q1-9 {  fill:rgb(70,0,0) ; }
.q2-9 {  fill:rgb(100,0,0) ; }
.q3-9 { fill:rgb(120,0,0) ; }
.q4-9 { fill:rgb(140,0,0) ; }
.q5-9 { fill:rgb(160,0,0) ; }
.q6-9 { fill:rgb(190,0,0) ; }
.q7-9 { fill:rgb(210,0,0) ; }
.q8-9 { fill:rgb(255,0,0) ; }

/*white to red*/
.q0-9 { fill:rgb(255,250,250) ; }
.q1-9 {  fill:rgb(255,220,220) ; }
.q2-9 {  fill:rgb(255,190,190) ; }
.q3-9 { fill:rgb(255,150,150) ; }
.q4-9 { fill:rgb(255,120,120) ; }
.q5-9 { fill:rgb(255,90,90) ; }
.q6-9 { fill:rgb(255,60,60) ; }
.q7-9 { fill:rgb(255,30,30) ; }
.q8-9 { fill:rgb(255,0,0) ; }

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 100;                  
  padding: 2px;             
  font-size: 11px;     
  background: #fff;
  border: 2px;  
  border-color: #000;    
  border-radius: 8px;           
  pointer-events: none;  
  border-style:solid;       

}   
