<!DOCTYPE html><html lang="en"><script src="scripts/bmi.js" language="javascript"></script>
<head><meta charset="utf-8"><title>Distribution of geographical references</title> 
<script type="text/javascript" src="scripts/d3.v3.min.js"></script> 
<script type="text/javascript" src="scripts/queue.v1.min.js"></script>
 <script type="text/javascript" src="scripts/topojson.v146.js"></script>
 <script type="text/javascript" src="scripts/jquery-2.1.0.min.js"></script>
 <script type="text/javascript" src="scripts/d3.slider.js"></script>
 <script type="text/javascript" src="scripts/districts.js"></script>
 <link rel="stylesheet" type="text/css" href="rus.css"> </link>
</head><style>


</style>

<body>
  <div id="header" class="topBar">
      <h1 id="area0" style="font-size:36px">Place names in Russian articles</h1>
      <h3 id="area0" class="domainHeading" style="font-size:24px">All articles</h3>
    </div>
    <div id="content">
      <div class="padder">
        <div id="mapContainer" ></div>
      </div><!-- .padder -->
    </div>
    <nav id="s1" class="sidebar">
        <div id = "clickerEdge" class="padder">
          <h3 class ="form" style="text-align:right">Options</h3>
            <form action="">Select Dataset
              <select id="dd">
                <option value="all" selected>All</option>
              </select>
            </form>
            <div>Min n places    
              <input id='slider' type='range' min=0 max=100 ng-model='year' width=200 value=5></input>
            </div>
            <div>Subdivide by year    
              <input id='slider2' type='range' min=2003 max=2013 ng-model='year' width=200 onchange="showValue(this.value)" value=99></input>
              <span id="range">All</span>
                <script type="text/javascript">
                function showValue(newValue)
                {
                  document.getElementById("range").innerHTML=newValue;
                }</script>
            </div>
            <div>Group regions?
               <input type="checkbox" name="mode" id="fedDis" value="fedDis" checked>
             </div>
            <div>Group federal Districts?
               <input type="checkbox" name="mode" id="rus"  checked>
             </div>
            <div id="area4">
              <h3 class="form" style="text-align:right;">Federal<br> Districts</h3>
            </div>
            <div id="area5">
              <h3 class="form" style="text-align:right">Region<br>Info</h3>
            </div>
        </div>
    </nav><!-- .padder -->
    <nav id="s2" class ="sidebar">
        <div class="padder">
          <div id="area6"> </div>
      </div>
    </nav>
  </div>

  <div id="footer" style="padding-top:10px;background-color:#333;color:white;clear:both;text-align:center;height:20px;vertical-align:text-alignbottom;z-index:6">Copyright © Rolf Fredheim</div>





<script type="text/javascript">

$('#area5').on('click', function() {
    $('.sidebar').toggleClass('clicked')
});




/*  d3.text("heading.txt", function(unparsedData){
    var heading = d3.select("#area0").append("h1")
    .text(unparsedData)
  })*/


  d3.text("heading.txt", function(unparsedData){
    var cats =jQuery.unique(unparsedData.split("\n"))
    var option = '';
    for (i=0;i<cats.length;i++){
       option += '<option value="'+ cats[i] + '">' + cats[i] + '</option>';
    }
    $('#dd').append(option);
  })

function draw(ht) {
    $("#mapContainer").html("<svg id='svg' xmlns='http://www.w3.org/2000/svg' width='100%' height='" + ht + "'></svg>");
    svg = d3.select("svg");
    var width = $("svg").parent().width();
    var height = ht;




/*
  var svg = d3.select("#area1").append("svg")
  .attr("width", width)
  .attr("height", height)
  .style("margin", "10px auto");*/

  var regBreak = d3.select("#area5").append("div")   
  .attr("class", "tooltip")               
  .style("opacity", 0);

  var placeList = d3.select("#area6").append("div")   
  .attr("class", "tooltip")               
  .style("opacity", 0);

  svg.append("rect")
  .attr("class","background")


var g = svg.append("g");
thresholdCountry=10
/*
  var projection = d3.geo.albers()
  .rotate([-90, 0])
  .center([60, 5])
  .parallels([52, 100])
  .scale(height*0.7)
  .translate([width/1, height/1.3 ]);

*/
  var projection = d3.geo.mercator()
  .center([0, 30])
  .scale(height*0.3)
  .translate([width/2, height/2 ]);

  var path = d3.geo.path().projection(projection);

  //Reading map file and data



  //Start of Choropleth drawing
var nameCode ={},
    colRange=40
   threshold= 0;

var quantize = d3.scale.quantize()
    .domain([colRange*-1,colRange])
    .range(d3.range(1,16).map(function(i) { return "q" + i + "-9"; }));

$.getScript("scripts/districts.js", function(){
   // Here you can use anything you defined in the loaded script
})


d2=new Object()
for (i in districts){
  for (j in districts[i].abbr){
    d2[districts[i].abbr[j]]=i
  }
}

loader=function(prefix){
    queue()
    .defer(d3.json, "russia.json")
    .defer(d3.csv, prefix+"_outR.csv")
    .defer(d3.csv,prefix+"_out2R.csv")
    .defer(d3.json, "world.json")
    .defer(d3.csv, prefix+"_out.csv")
    .defer(d3.csv,prefix+"_out2.csv")
    .await(ready);
}

prefix="All"
loader(prefix)

  var dataset=[]


changer = 1

yearVar=99


function ready(error, mapRaw, data,data2,world,wdata,wdata2) {


//districts
  topojson.feature(mapRaw, mapRaw.objects.russia).features.forEach(function(d) {
      nameCode[d.properties.AREA] =d.properties.region
      d.properties["federalDistrict"]=d2[nameCode[d.properties.AREA]]
  });

  var map =topojson.feature(mapRaw, mapRaw.objects.russia).features
  var wmap =topojson.feature(world, world.objects.countries).features


  //Grand rewrite
years=d3.range(2003,2014)
  fedDis={}
  places={}
  fedDis["l"]={}
  fedDis["k"]={}  
  for (i in districts){
    places[i]={}
    fedDis["l"][i]={}
    fedDis["k"][i]={}  
    for(year in years){
      fedDis["l"][i][years[year]]={}
      fedDis["k"][i][years[year]]={}
  }
}

//for world
wp={}
wp["l"]={}
wp["k"]={}
  tot1=tot2=0

  //FED DIS TREE: district/orientation/region/year/place:number
  //FED DIS TREE: district/region/year/orientation:number
    data.forEach(function(d){
      reg=nameCode[d.AREA]
      fd=d2[reg]

      if (! places[fd][d.year]){
        places[fd][d.year]={}
      }


      if (! places[fd][d.year][reg]){
        places[fd][d.year][reg]={}
      }


      if (! places[fd][d.year][reg][d.originalPlace]){
        places[fd][d.year][reg][d.originalPlace]={}
        places[fd][d.year][reg][d.originalPlace]["l"]=0
        places[fd][d.year][reg][d.originalPlace]["k"]=0
      }

            places[fd][d.year][reg][d.originalPlace][d.orientation] = +d.n

      if (!fedDis[d.orientation][fd][d.year]){
        fedDis[d.orientation][fd][d.year]={}
      }

      if (!fedDis[d.orientation][fd][d.year][reg]){
        fedDis[d.orientation][fd][d.year][reg]={}
      }
            fedDis[d.orientation][fd][d.year][reg][d.originalPlace] = +d.n

    })

names={}
//for world. Ignore date and places fornow
    wdata.forEach(function(d){
      if(!wp[d.orientation][d.UN]){
        wp[d.orientation][d.UN]={}
      }
      wp[d.orientation][d.UN][d.year] = +d.n
      names[d.UN]=d.NAME
    })

/*  for(i in fedDis["l"]){
    for (j in fedDis["l"][i])    {
      for (k in fedDis["l"][i][j]){
        tot1 += sum(fedDis["l"][i][j][k])
      }
    }
    //add Wolrd
  }
  for(i in fedDis["k"]){
    for (j in fedDis["k"][i])    {
      for (k in fedDis["k"][i][j]){
        tot2 += sum(fedDis["k"][i][j][k])
      }
    }
}*/
      tot2+=sum2(wp["k"])
    tot1+=sum2(wp["l"])

  adjustValue=tot1/tot2
  console.log(adjustValue)
//Year in here

  map.forEach(function(d) {
    //Speed this up by loading in one value for each, and cycling over those insetad, rather than recalculating for each node?
        reg=nameCode[d.properties.AREA]
        d.valA={}
        d.valB={}
        var fd = d.properties.federalDistrict
        d.valA[fd]= sum3(fedDis["l"][fd])
        d.valB[fd]= sum3(fedDis["k"][fd])
        for (i in fedDis["l"][fd]){
          if(! d.valA["years"]){     d.valA["years"]={}      }
          d.valA["years"][i]= sum2(fedDis["l"][fd][i])          
        }
        for (i in fedDis["k"][fd]){
          if(! d.valB["years"]){     d.valB["years"]={}      }
          d.valB["years"][i]= sum2(fedDis["k"][fd][i])          
        }
        for (i in fedDis["l"][fd]){
          if(! d.valA["regYears"]){     d.valA["regYears"]={}      }
            if(sum(fedDis["l"][fd][i][reg])){
              d.valA["regYears"][i] =sum(fedDis["l"][fd][i][reg])
            }
        }
        d.valA[reg]=sum(d.valA["regYears"])

        for (i in fedDis["k"][fd]){
          if(! d.valB["regYears"]){     d.valB["regYears"]={}      }
            if(sum(fedDis["k"][fd][i][reg])){
              d.valB["regYears"][i] =sum(fedDis["k"][fd][i][reg])
            }
        }
        d.valB[reg]=sum(d.valB["regYears"])

  });


//for world
  wmap.forEach(function(d) {
    //Speed this up by loading in one value for each, and cycling over those insetad, rather than recalculating for each node?
        d.valA={}
        d.valB={}
        for (i in years){
          if(wp["l"][d.id]){
            if(wp["l"][d.id][years[i]]){
              d.valA[years[i]]=wp["l"][d.id][years[i]]
            }else{     d.valA[years[i]]=0   }
          }else{     d.valA[years[i]]=0   }
        }

        for (i in years){
          if(wp["k"][d.id]){
            if(wp["k"][d.id][years[i]]){
              d.valB[years[i]]=wp["k"][d.id][years[i]]
            }else{     d.valB[years[i]]=0   }  
          }  else{     d.valB[years[i]]=0       }
        }
        d.valB[99]=sum(wp['k'][d.id])
        d.valA[99]=sum(wp['l'][d.id])
  })


d3.selectAll("input[id='slider2']").on("change", sliderChange2);
function sliderChange2() {
    yearVar=this.value
    update()
}

d3.selectAll("input[id='fedDis']").on("change", change);
function change() {
    d3.selectAll("table").data([]).exit().remove()
    changer =Math.abs(changer-1)
    update()
  }

d3.selectAll("input[id='rus']").on("change", rusOut);
function rusOut() {
      svg.select("#base").selectAll("path").data([]).exit().remove()
  }
     

     // .style("fill","grey")
    svg.append("g").attr("id", "worldMap")
    svg.append("g").attr("id", "base")
    svg.append("g").attr("id", "regOutline")
    svg.append("g").attr("id", "city")
    svg.append("g").attr("id", "outline")
    svg.append("g").attr("id", "outline2")
    svg.append("g").attr("id", "country")

      svg.select("#worldMap").selectAll("g")
      .data(wmap)
      .enter().append("path")
      .attr("class",function(d) { 
        if(!yearVar==99){
            valA=d.valA[yearVar]
            valB=d.valB[yearVar]
            valC=valA/adjustValue
          }else{
            valA=d.valA[99]
            valB=d.valB[99]
            valC=valA/adjustValue
          }
        return (valA+valB)>thresholdCountry? valC > valB ? quantize(Math.round(valC/valB)*10) : quantize(Math.round(-1*valB/(valC)*10)):
         "qunk"
       })
     .attr("d",path)
     .style("stroke","white")


      svg.select("#base").selectAll("g")
      //.filter(function(d){return(d.city=+"Beijing")})
      .data(map)
      .enter().append("path")
      .attr("class",function(d) { 
        if (changer==1){
          target=d.properties.federalDistrict
          if(yearVar==99){
            valA=d.valA[target]
            valB=d.valB[target]
            valC=valA/adjustValue
          }
          else
          {
            target2=yearVar
            valA=d.valA["years"][target2]
            valB=d.valB["years"][target2]
            valC=valA/adjustValue
          }
        }
        else{
            target=nameCode[d.properties.AREA]
            if(yearVar==99){
            valA=d.valA[target]
            valB=d.valB[target]
            valC=valA/adjustValue
          }
          else
          {
            target2=yearVar
            valA=d.valA["regYears"][target2]
            valB=d.valB["regYears"][target2]
            valC=valA/adjustValue
          }
        }
        return (valA+valB)>thresholdCountry? valC > valB ? quantize(Math.round(valC/valB)*10) : quantize(Math.round(-1*valB/(valC)*10)):
         "qunk"
       })

     .attr("d",path)
      .attr("data-name",function(d){ return d.properties.federalDistrict})

      .on("mouseover",mouse1)
  .on("mouseout", function() {
    d3.select(this).classed("active", false)
  })

       update()

  function update(){
        d3.selectAll("table").data([]).exit().remove()
        console.log(tot1)
        console.log(tot2)

      svg.select("#worldMap").selectAll("path")
      .attr("class",function(d) { 
            valA=d.valA[yearVar]
            valB=d.valB[yearVar]
            valC=valA/adjustValue
        return (valA+valB)>thresholdCountry? valC > valB ? quantize(Math.round(valC/valB)*10) : quantize(Math.round(-1*valB/(valC)*10)):
         "qunk"
       })

      svg.select("#base").selectAll("path")
      .attr("class",function(d) { 
        if (changer==1){
          target=d.properties.federalDistrict
          if(yearVar==99){
            valA=d.valA[target]
            valB=d.valB[target]
            valC=valA/adjustValue
          }
          else
          {
            target2=yearVar
            valA=d.valA["years"][target2]
            valB=d.valB["years"][target2]
            valC=valA/adjustValue
          }
        }
        else{
            target=nameCode[d.properties.AREA]
            if(yearVar==99){
            valA=d.valA[target]
            valB=d.valB[target]
            valC=valA/adjustValue
          }
          else
          {
            target2=yearVar
            valA=d.valA["regYears"][target2]
            valB=d.valB["regYears"][target2]
            valC=valA/adjustValue
          }
        }
        return (valA+valB)>thresholdCountry? valC > valB ? quantize(Math.round(valC/valB)*10) : quantize(Math.round(-1*valB/(valC)*10)):
         "qunk"
       })

      //update table
   dataset=[]
    if (yearVar ==99){
      for (fd in fedDis["l"]){
        valA=(sum3(fedDis["l"][fd]))
        valB=sum3(fedDis["k"][fd]) 
        name=districts[fd].name.replace(/федеральный округ/g,'')
        dataset.push([name,valA+" ("+Math.round(valA/adjustValue)+")",valB,Math.round(valA/adjustValue)-valB,valA+valB])
      }
    }else{
      for (fd in fedDis["l"]){

        valA=(sum2(fedDis["l"][fd][yearVar]))
        valB=sum2(fedDis["k"][fd][yearVar]) 
        name=districts[fd].name.replace(/федеральный округ/g,'')
        dataset.push([name,valA+" ("+Math.round(valA/adjustValue)+")",valB,Math.round(valA/adjustValue)-valB,valA+valB])
      }
    }
       var peopleTable = tabulate(dataset, [0,1,2,3,4])

    } //<-end of update

     svg.select("#outline").append("path")
      .datum(topojson.mesh(mapRaw, mapRaw.objects.russia, function(a, b) { return a.properties.federalDistrict != b.properties.federalDistrict; }))
      .attr("class", "state selected-boundary")
      .attr("d", path)

     svg.select("#outline").append("path")
      .datum(topojson.mesh(mapRaw, mapRaw.objects.russia, function(a, b) { return a ==b ; }))
      .attr("class", "state selected2")
      .attr("d", path)


/*        d3.selectAll("div.tooltip").data([]).exit().remove()
*//*
    .transition().duration(0)
    .style("opacity", 1);
    div.transition().duration(0)
    .style("opacity", 0);*/







  d3.tsv("cities.tsv", function(error, data) {

    var city = svg.select("#city").selectAll("city")
          .filter(function(d){return(d.city=+"Beijing")})
    .data(data)
    .enter()
    .append("g")
    .attr("id", "city")
    .attr("class", "city")
    .attr("transform", function(d) { return "translate(" + projection([d.lon, d.lat]) + ")"; });

    city.append("circle")
    .attr("r", 1.5)
    .style("opacity", 0.75);

    city.append("text")
    .attr("x", 5)
    .text(function(d) { return d.City; });
  });

/*console.log(wmap)
  svg.select("#country").selectAll("place-label")
  .data(wmap)
  .enter().append("text")
    .attr("id", "place-label")
    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; }) //WHOO use to calculate center of each point
    .attr("dy", ".35em")
    //.filter(function(d){if (Math.abs( (rateById[d.id]/adjustValue)   - (rateByIdRef[d.id]))>3) {return true;}else{return false;}})
    .text(function(d) {return names[d.id]})
    //.text(function(d) { return ((rateById[d.id]/adjustValue)-(rateByIdRef[d.id])).toFixed(0)})
    .style("font-size","9")*/

  }; // <-- End of Choropleth drawing
 








  //Adding legend for our Choropleth
  var color_domain =  [-1*colRange,colRange]
  var ext_color_domain = [-1*colRange,colRange]
  var legend_labels =  ["inf more independent","inf more state-media"]    
  var color = d3.scale.threshold()
  .domain(color_domain)
  .range(["red","#084594","#990000"]);

var legend = svg.selectAll("g.legend")
  .data(ext_color_domain)
  .enter().append("g")
  .attr("class", "legend");

  var ls_w = 14, ls_h = 14;

  legend.append("rect")
  .attr("x", width-width/3)
  .attr("y", function(d, i){ return height/1.3 +20+1.5*(i*ls_h) ;})
  .attr("width", ls_w)
  .attr("height", ls_h)
  .style("fill", function(d, i) { return color(d); })
  .style("opacity", 0.8);

  legend.append("text")
  .attr("x", width-width/3+20)
  .attr("y", function(d, i){ return height/1.3 +20+1.5*(i*ls_h) +13;})
  .text(function(d, i){ return legend_labels[i]; });


function selectData(d, i) {
    d3.selectAll(".highlight")
        .classed("highlight", false);
    d3.select("tr.test:nth-of-type(" + (i+1) +")")
        .classed("highlight", true);

    //d3.select("path.lineDefault:nth-of-type(" + (i+1) +")")
    d3.selectAll("path[data-name='"+(i)+"']")
        .classed("highlight", true)
    getPlaceTable(i)

}


function selectData2(d) {
    i=parseInt(d.properties.federalDistrict)+1
    d3.selectAll(".highlight")
        .classed("highlight", false);
    d3.select("tr.test:nth-of-type(" + (i) +")")
        .classed("highlight", true);
    d3.selectAll("path[data-name='"+(i-1)+"']")
        .classed("highlight", true)

}



d3.selectAll("input[id='slider']").on("change", sliderChange);

function sliderChange() {
    threshold=this.value
}



d3.selectAll("select").on("change", change2);
  function change2() {
    d3.selectAll("table").data([]).exit().remove()
    loader(this.value)

  d3.selectAll(".domainHeading").data([]).exit().remove()
  var heading = d3.select("#area0").append("h4")
  .style("color","black")
  .attr("class","domainHeading")
  .style("font-size","24px")
  .text(this.value)
  }


function tabulate(data, columns) {
   var table = d3.select("#area4").append("table")
       .attr("class", "tabFormat"),
        thead = table.append("thead"),
        tbody = table.append("tbody");

    // append the header row
    thead.append("tr")
        .selectAll("th")
        .data(["District","Independent (adj)","State-media","relDif","Total"])
        .enter()
        .append("th")
        .attr("class","thh")
            .text(function(column) { return column; })
        //.attr("class","tabStyle")

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr")
        .attr("class","test")
        .on("click",selectData);

  //var para = d3.select("body").append("p");

/*  para.selectAll("p")
          .data(data)
          .enter()
          .append("p")
          .html(function(d,i){ return "<a href=\"" + d + "\">" + "site_" + i + "</a>"; });*/
    // create a cell in each row for each column
    var cells = rows.selectAll("td")
        .data(function(row) {
            return columns.map(function(column) {
                return {column: column, value: row[column]};
            });
        })
        .enter()
        .append("td")
        .attr("class","tabStyle")
        .text(function(d) { return d.value; })
    

    return table;
  }

function sum( obj ) {
  var sum = 0;
  for( var el in obj ) {
    if( obj.hasOwnProperty( el ) ) {
      sum += parseFloat( obj[el] );
    }
  }
  return sum;
}

 
function sum2( p ) {
  var s = 0;
  for (var el in p)
    s += sum(p[el])
  return s
}

function sum3( p ) {
  var s = 0;
  for (var el in p)
    s += sum2(p[el])
  return s
}

mouse1 = function(d){
      d3.select(this)//.transition().duration(10).style("opacity", 1);
       selectData2(d)

    regBreak.transition().duration(0)
    .style("opacity", 0.8)
      getToolTip(d)
      placeList.transition().duration(0)
      .style("opacity", 0.8)
        getPlaceTable(d)
}

/*Todo:
  Add filter buttons
  Regional outlines - thicker stroke
  Add legend
  Add table with regional summaries
  Add dynamic table with local data
*/


var vv=8
var fSize=8.5
var swidth =2
var rsize =3
var x =-8
var swidth2=1

      getToolTip=function(d){
        if(d.properties){
        var fd = d.properties.federalDistrict
        var region = d.properties.region
        }else{
          fd=d
          region = ""
        }
        valA=(sum(fedDis["l"][fd]))
        regBreak.html("<strong>"+districts[fd].name + " : " + 
        region+"<br/>"+"ratio:" +
        (Math.round((d.valA/d.valB)*100))/100+"\tadj ratio"+(Math.round(((d.valA/adjustValue)/d.valB)*1000))/1000+
        "<br/>independent : "+d.valA+" ("+Math.round(d.valA/adjustValue)+"); state: "+d.valB+
        "<br/><br/>adjust value: "+Math.round(adjustValue*100)/100+"</strong/><br/>")
  }

      getPlaceTable=function(d){
        if(d.properties){
        var fd = d.properties.federalDistrict
        var region = d.properties.region
        }else{
          fd=d
          region = ""
        }
        //filtration here
        if (changer ==1){
            temp=places[fd]
        }else{
            temp=places[fd][nameCode[d.properties.AREA]]      
          }
        for (i in temp){
          for (j in temp[i])
            if((temp[i][j]["l"]+temp[i][j]["k"])<threshold){
            delete temp[i][j]
          }
        }
      mainBody=JSON.stringify(temp)
      mainBody=mainBody.replace(/,|"|{|liberal|pro-Kremlin/g,'')
      mainBody=mainBody.replace(/::/g,':')
      mainBody=mainBody.replace(/:/g,': ')
      mainBody=mainBody.replace(/\}/g,'<br/>')
      placeList.html("<strong>Places (Ind:state))<br><br></strong> "+mainBody)
  }

var zoom = d3.behavior.zoom()
    .on("zoom",function() {
        g.attr("transform","translate("+ 
            d3.event.translate.join(",")+")scale("+d3.event.scale+")");
        g.selectAll("path")  
            .attr("d", path.projection(projection)); 
        g.selectAll("text")  

            .style("font-size", vv/d3.event.scale*1.2)
            //.attr("x",function(d) {return( excludeList.indexOf(d.city)== -1 ? 0.4*d3.event.scale*-6 : 0.4*d3.event.scale*6 )})
            .attr("y", rsize/d3.event.scale*1.2);  
        g.selectAll("circle")  
            .style("stroke-width", swidth/d3.event.scale*1.2)  
            //.attr("r", rsize/d3.event.scale);  
            //.attr("r",function(d){return((2+Math.sqrt(d.nSeen)*citySizeMultiplier))})
         g.selectAll("tooltip")  
            .style("font-size", (fSize/d3.event.scale)*1)  
         d3.selectAll(".region")
            .style("stroke-width", (swidth2/2)/d3.event.scale*1)  
            .style("stroke-dasharray", swidth2/d3.event.scale*2+","+(swidth)/d3.event.scale*2)  
         d3.selectAll(".state.selected-boundary")  
            .style("stroke-width", swidth/d3.event.scale*1)  
         d3.selectAll(".state.selected")  
            .style("stroke-width", swidth/d3.event.scale*1)  
         })


svg.call(zoom)
}
draw($("#mapContainer").width()/1.8);

$(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
    this.resizeTO = setTimeout(function() {
        $(this).trigger('resizeEnd');
    }, 500);
});

$(window).bind('resizeEnd', function() {
    var height = $("#mapContainer").width()/1.8;
    $("#mapContainer svg").css("height", height);
    draw(height);
});

  </script> </body></html><script language="javascript"><!--
bmi_SafeAddOnload(bmi_load,"bmi_orig_img",0);//-->
</script>